body {
  padding-top: 60px;
}

.thumbnail .caption {
  font-size: 11px;
  text-align: center;
  padding: 0.4em;
}

a.thumbnail:hover {
  text-decoration: none;
}

.loading {
  background:url(../../public/images/spinner-small.gif) center right no-repeat;
  padding: 0 20px 0 0;
  white-space: nowrap;
}

.navbar .brand {
  padding: 0;
  line-height: 0;
}

th.header {
  background-image: url(../../public/images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 16px;
  cursor: pointer;
}

th.headerSortDown {
  background-image: url(../../public/images/desc.gif);
}

th.headerSortUp {
  background-image: url(../../public/images/asc.gif);
}