body {
  padding-top: 60px;
}

.thumbnail .caption {
  font-size: 11px;
  text-align: center;
  padding: 0.4em;
}

a.thumbnail:hover {
  text-decoration: none;
  border-color: #222;
}

a.thumbnail.selected {
  border-color:#33b5e5;
  -webkit-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
}

.loading {
  background:url(../../public/images/spinner-small.gif) center right no-repeat;
  padding: 0 20px 0 0;
  white-space: nowrap;
}

.navbar .brand {
  padding: 0;
  line-height: 0;
}

th.header {
  background-image: url(../../public/images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 16px;
  cursor: pointer;
}

th.headerSortDown {
  background-image: url(../../public/images/desc.gif);
}

th.headerSortUp {
  background-image: url(../../public/images/asc.gif);
}

input, textarea, select, .uneditable-input {
  color: #282828 !important;
}

input[readonly] {
  background-color: #CCC
}

a.single {
  color: black;
}

a.single.enabled {
  color: white;
}

button {
  color: black;
}