<!DOCTYPE html>

<html lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        <style>
          #crudBreadcrumb ul { display: inline-block; }
        </style>
    </head>
    <body id="crud">

        <div id="crudHeader">
            <h1><a href="@{CRUD.index()}">&{'crud.title'}</a></h1>
        </div>

            <div id="crudBreadcrumb">
                <a href="..">${play.configuration.getProperty('application.name')}</a> >
                #{if request.actionMethod != 'index'}#{crud.navigation /}#{/if}#{else}<ul><li><a href="@{CRUD.index()}">&{'crud.home'}</a></li></ul>#{/else}
            </div>

#{if flash.success}
            <div class="crudFlash flashSuccess">
                ${flash.success}
            </div>
#{/if}
#{if flash.error || error}
            <div class="crudFlash flashError">
                ${error ?: flash.error}
            </div>
#{/if}

        <div id="crudContent">
#{doLayout /}
        </div>

    </body>
</html>
