#{extends 'main.html' /}
#{set title:'Admin' /}

<h1>Recent imports</h1>
<br>
<table id="studies" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name
			<th>Subject ID
			<th>Study Description
			<th>Date of Study
			<th>Scanner
			<th>Imported
		</tr>
	</thead>
	<tbody>
		#{list models.Study.find("order by created_time desc").fetch(util.Properties.pageSize())}
		<tr>
			<td>#{a @patient(_.patient.pk)}${_.patient.pat_name ? _.patient.pat_name.formatAsName() : 'UNKNOWN'}#{/a}
			<td>${_.patient.pat_id}
			<td>${_.study_desc}
			<td>${_.study_datetime?.format()}
			<td>${_.station_name}
			<td>${_.created_time.format()} ${_.created_time.time()}
		</tr>
		#{/list}
	</tbody>
</table>
