<h5 style="display: inline">Clipboard</h5>
#{if clipboard.items}
[#{a @clipboard(null, null, true), class: 'clipboard'}x#{/a}]
<ul>
  #{list clipboard.items}
  <li>
    #{if _.type == models.Study.class}<a href="@{patient(models.Study.findById(_.pk).patient.pk)}#${_.pk}">${models.Study.findById(_.pk).toClipboardString()}</a>#{/if}
    #{if _.type == models.Series.class}#{a @series(_.pk)}${models.Series.findById(_.pk).toClipboardString()}#{/a}#{/if}
    [#{a @clipboard(_.type.simpleName, _.pk, true), class: 'clipboard'}x#{/a}]
  </li>
  #{/list}
</ul>
#{a @export(), class: 'export'}Export files#{/a}
#{/if}
<p>#{else}Use <img src="@{'/public/images/attach.png'}"> to add to clipboard#{/else}</p>