<ul class="nav nav-list">
  <li class="nav-header">Clipboard
  #{if clipboard.items}
  #{list clipboard.items}
  <li>
    <span>
      #{a @clipboard(controllers.Application.ClipboardOp.REMOVE, _.type.simpleName, _.pk), class: 'clipboard'}<i class="icon-remove-sign icon-large"></i>#{/a}
      #{a @study(_.pk)}
        #{if _.type == models.Study.class}${models.Study.findById(_.pk).toClipboardString()}#{/if}
        #{if _.type == models.Series.class}${models.Series.findById(_.pk).toClipboardString()}#{/if}
      #{/a}
    </span>
  </li>
  #{/list}
  <li style="padding-top: 0.5em"><span>#{a @export(), class: 'export', 'data-size': clipboard.items.size()}Export files#{/a}&nbsp;|&nbsp;#{a @clipboard(controllers.Application.ClipboardOp.CLEAR), class: 'clipboard'}Remove all#{/a}</span>
  #{/if}
  #{else}
  <li>Use&nbsp;&nbsp;<i class="icon-download-alt icon-large"></i>&nbsp;&nbsp;to add to clipboard
  #{/else}
  #{if exports}
  <li class="nav-header">Downloads
  #{list exports}
  <li>#{if _.exists()}#{a @retrieve(org.apache.commons.io.FilenameUtils.getBaseName(_.name))}${org.apache.commons.io.FilenameUtils.getBaseName(_.name)}#{/a}#{/if}#{else}<span class="loading">${org.apache.commons.io.FilenameUtils.getBaseName(_.name)}</span>#{/else}
  #{/list}
  #{/if}
</ul>