#{extends 'main.html' /}
#{set title:'Help' /}

<h3>Frequently Asked Questions</h3>
<dl>
	${models.Help.findAll()[0].faq.raw()}
</dl>

<h3>Statistics</h3>
<p style="margin-top: 0.5em; margin-bottom: 1em">This database currently contains ${models.Study.count()} studies*{ (${util.Util.size(util.Properties.getArchive()).formatAsSize()})}*</p>

<h3>Credits</h3>
<p style="margin-top: 0.5em; margin-bottom: 1em">
	${play.configuration.getProperty('application.name')} was commissioned by <a href="http://www1.imperial.ac.uk/medicine/people/declan.oregan/">Declan O'Regan</a> on behalf of the Robert Steiner MRI Unit at the <a href="http://www.csc.mrc.ac.uk/">MRC Clinical Sciences Centre</a>.
	<br>It was developed by <a href="http://www3.imperial.ac.uk/bioinfsupport/people/mark_woodbridge">Mark Woodbridge</a> in the <a href="http://www3.imperial.ac.uk/bioinfsupport">Bioinformatics Support Service</a> and <a href="https://www.imperial.ac.uk/ict/rcs">Research Computing Service</a> at Imperial College London.
	<br>Support and auxiliary tools were provided by <a href="http://www1.imperial.ac.uk/medicine/people/gianlorenzo.fagiolo/">Gianlorenzo Fagiolo</a>.
	<br>
	<br>${play.configuration.getProperty('application.name')} logo © Shutterstock 2012
	<br><a href="http://glyphicons.com">Glyphicons Free</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
</p>
<p>© 2018 Imperial College London</p>
