#{extends 'main.html' /}
#{set title:'Home' /}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="padding-bottom: 0; padding-top: 20px">
      #{form @patients(), method: 'GET'}
        <fieldset>
          <legend>Patient search</legend>
          <div class="clearfix">
            <label for="xlInput">Name</label>
            <div class="input">
              <input id="xlInput" name="name" size="30" type="text">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="xlInput">Age at scan</label>
            <div class="input">
              <input size="30" type="text">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="xlInput">Protocol name</label>
            <div class="input">
              <input size="30" type="text">
            </div>
          </div><!-- /clearfix -->
          <div class="actions">
            <input type="submit" class="btn primary" value="Search">&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      #{/form}
</div>