#{extends 'main.html'/}
#{set title:'Studies'/}

#{set 'moreScripts'}
#{script 'waypoints.min.js'/}
#{script 'waypoints-infinite.min.js'/}
<script>
	$('th.header').on('click', function() {
		window.location = URI(window.location.href)
			.removeSearch({
				order: undefined,
				sort: undefined,
				page: undefined
			})
			.addSearch({
				order: this.id,
				sort: $(this).hasClass('headerSortDown') ? "desc" : "asc",
				page: 0
			})
			.toString();
	});
	$('tbody').waypoint('infinite', {
		items: '#studies tbody tr',
		more: '.pagination .next:not(.disabled) a'
	});
	$('.pagination').hide();
</script>
#{/set}

<div class="span9">
	#{form @simpleSearch(), id: 'search', method: 'GET', class: 'form-horizontal', style: 'margin-top: 1em'}
		<input name="terms" type="text" class="input-large search-query">&nbsp;
		<button type="submit" class="btn btn-info">Search</button>&nbsp;
		<input name="order" type="hidden" value="study_datetime">
		<input name="sort" type="hidden" value="desc">
		<input name="page" type="hidden" value="0">
		#{a @advanced(), class: "btn btn-primary"}Advanced search#{/a}
		<span style="margin-left: 1em">Showing ${studyCount} ${studyCount == 1 ? "study" : "studies"}</span>
	#{/form}
	<table id="studies" class="table table-striped table-bordered">
		<thead>
			<tr>
				#{list items:['patient.pat_id':'Subject ID', 'patient.pat_name':'Name', 'patient.pat_birthdate':'Date of Birth', 'study_desc':'Study Description', 'study_datetime':'Date of Study']}
				<th id="${_.key}" class="header#{if _.key == params.order} headerSort${params.sort == 'desc' ? 'Up' : 'Down'}#{/if}">${_.value}
				#{/list}
				<th>Scanner
				<th>Project
				<th>
			</tr>
		</thead>
		<tbody>
			#{list studies}
			#{set projectAssociation: _.getProjectAssociation()/}
			<tr>
				<td>#{a @study(_.pk)}${_.patient.pat_id}#{/a}
				<td>#{ifNotVisitor}${_.patient.pat_name ? _.patient.pat_name.formatAsName() : 'UNKNOWN'}#{/ifNotVisitor}
				<td>#{ifNotVisitor}${_.patient.pat_birthdate?.formatAsDate()}#{/ifNotVisitor}
				<td>${_.study_desc}
				<td>${_.study_datetime?.format()}
				<td>${_.station_name}
				<td>${projectAssociation?.project}#{if projectAssociation?.participationID} (${projectAssociation?.participationID})#{/if}
				<td>#{a @clipboard(controllers.Application.ClipboardOp.ADD, _.class.simpleName, _.pk), class: 'clipboard'}<i class="icon-download-alt icon-large"></i>#{/a}
			</tr>
			#{/list}
		</tbody>
	</table>
	#{if Math.ceil(studyCount / util.Properties.pageSize()) > 1}
	<div class="pagination pagination-centered">
	  <ul>
	    #{if page}
	    <li class="prev"><a href="${request.url.replaceFirst('page=\\d+', 'page=' + (page - 1))}">&larr; Prev</a>
	    #{/if}
	    #{else}
	    <li class="prev disabled"><a href="#">&larr; Prev</a>
	    #{/else}
	    #{list items:util.Util.pages(studyCount, util.Properties.pageSize(), page + 1)}
	    #{if _}<li#{if _ == page + 1} class="active"#{/if}><a href="${request.url.replaceFirst('page=\\d+', 'page=' + (_ - 1))}">${_}</a>#{/if}#{else}<li class="disabled"><a href="#">…</a>#{/else}
	    #{/list}
	    #{if page < Math.ceil(studyCount / util.Properties.pageSize()) - 1}
	    <li class="next"><a href="${request.url.replaceFirst('page=\\d+', 'page=' + (page + 1))}">Next &rarr;</a>
	    #{/if}
	    #{else}
	    <li class="next disabled"><a href="#">Next &rarr;</a>
	    #{/else}
	  </ul>
	</div>
	#{/if}
</div>
<div class="span3">
	<div class="well" id="clipboard">
	#{include 'Application/clipboard.html'/}
	</div>
	<div class="well sidebar-nav" id="series" style="display: none">
	</div>
</div>
