#{extends 'main.html'/}
#{set title:'Patient'/}
#{set 'moreScripts'}
<script>
	$(function() {
		$('select').on('change', function() {
			if ($("option:selected", this).val() == -1) {
				var projectName = prompt("Project name", "");
				if (!projectName) {
					return;
				}
				$(this).siblings('input[name=projectName]').val(projectName);
				$(this).siblings('input[name=participationID]').val('');
				$(this).closest('form').submit();
			} else {
				$(this).siblings('input[name=participationID]').attr("disabled", !$("option:selected", this).val());
			}
		});
	});
</script>
#{/set}

<h1>${patient.pat_id} - ${patient.pat_name?.formatAsName()} - ${patient.pat_birthdate?.formatAsDate()}</h1>

#{list patient.studies, as: 'study'}
<h3 id="#${study.pk}" style="display: inline">${patient.pat_id} ${study.study_desc} ${study.study_datetime?.format()}</h3>&nbsp;&nbsp;#{a @clipboard(controllers.Application.ClipboardOp.ADD, study.class.simpleName, study.pk), class: 'clipboard'}<i class="icon-download-alt icon-large"></i>#{/a}
<br><br>
#{form @associate(), method: 'post', class: 'form-inline'}
	Project:&nbsp;
	<select name="projectID">
		<option></option>
		#{list models.Project.find("order by name").fetch()}
		<option value="${_.id}"#{if _.equals(study.getProjectAssociation()?.project)} selected#{/if}>${_.name}</option>
		#{/list}
		<option value="-1">New project...</option>
	</select>
	&nbsp;
	Identifier:&nbsp;
	<input type="text" name="participationID" value="${study.getProjectAssociation()?.participationID}"#{ifnot study.getProjectAssociation()} disabled#{/ifnot}>
	&nbsp;
	<input type="hidden" name="study.pk" value="${study.pk}">
	<input type="hidden" name="projectName">
	<input type="submit" class="btn" value="Update">
#{/form}
<ul class="thumbnails">
	#{list study.series.findAll{util.Dicom.renderable(it)}.sort{it.series_no as int}, as: 'series'}
	<li class="span2">
		<a href="@{series(series.pk)}" class="thumbnail">
			<img src="@{'/public/images/spinner.gif'}" alt="@{image(series.pk, 128)}">
			<h5 class="caption">${(series.series_no + " " + series.series_custom1).ellipsis(16)}</h5>
		</a>
	</li>
	#{/list}
</ul>
#{/list}
