#{extends 'main.html'/}
#{set title:'Patient'/}
#{set 'moreStyles'}
<style>
.caption {
	font-size: 11px;
	color: white;
	background-color: #333;
	text-align: center;
}
li a:hover {
	text-decoration: none;
}
</style>
#{/set}

*{<h1>#{get 'title'/}</h1>}*

<h2>${patient.pat_id} - ${patient.pat_name} - ${patient.birthdate().format()}</h2>

#{list patient.studies, as: 'study'}
<h3>${patient.pat_id} ${study.study_desc} ${study.study_datetime.format()}</h3>
<ul class="media-grid">
	#{list study.series, as: 'series'}
	<li>
		#{a @series(series.pk)}
			<img class="thumbnail" src="@{image(series.instances.iterator().next().sop_iuid, 128)}" alt="">
			<div class="caption">${(series.series_no + " " + series.series_custom1).ellipsis(20)}</div>
		#{/a}
	</li>
	#{/list}
</ul>
#{/list}
