#{extends 'main.html'/}
#{set title:'Series'/}

<h2>${series.study.patient.pat_id} - ${series.study.patient.pat_name} - ${series.study.study_datetime.format()} - ${series.series_custom1}(${series.series_no})</h2>
Download as #{a @download(series.pk)}dicom#{/a} #{a @download(series.pk, 'nii')}nifti#{/a}

<div class="row">
	<div class="span14">
		<h3>Subject details</h3>
		<table class="bordered-table">
			<thead>
				<tr>
					<th>PatientID</th>
					<th>Name</th>
					<th>Sex</th>
					<th>Date of birth</th>
					<th>Weight</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>${series.study.patient.pat_id}</td>
					<td>${series.study.patient.pat_name}</td>
					<td>${series.study.patient.pat_sex}</td>
					<td>${series.study.patient.pat_birthdate?.formatAsDate()}</td>
					<td>${series.study.patient.pat_attrs.get('PatientWeight')} kg</td>
					<td>${series.study.patient.pat_birthdate?.formatAsAge()}</td>
				</tr>
			</tbody>
		</table>
		
		<h3>Study details</h3>
		<table class="bordered-table">
			<thead>
				<tr>
					<th>Study description</th>
					<th>Date of scan</th>
					<th>Time of scan</th>
					<th>Study ID</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>${series.study.study_desc}</td>
					<td>${series.study.study_datetime.format()}</td>
					<td>${series.study.study_datetime.time()}</td>
					<td>${series.study.study_id}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span1 offset1">
		<ul class="media-grid">
			<li>
				<a href="#">
					<img class="thumbnail" src="@{image(series.instances.iterator().next().sop_iuid, 256)}" alt="">
				</a>
			</li>
		</ul>
	</div>
</div>

<h3>Image description</h3>
<table class="bordered-table">
	<thead>
		<tr>
			<th>Matrix (cols / rows / slices)</th>
			<th>Pixel spacing (x / y / z)</th>
			<th>In plane phase encoding</th>
			<th>Phase encoding steps</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>${series.instances.iterator().next().inst_attrs.get('Columns')} / ${series.instances.iterator().next().inst_attrs.get('Rows')} / #{NumberOfFrames series/}</td>
			<td>#{PixelSpacing dataset, axis: 'X'/} / #{PixelSpacing dataset, axis: 'Y'/} / #{SliceThickness dataset/}</td>
			<td>#{InPlanePhaseEncodingDirection dataset/}</td>
			<td>#{MRAcquisitionPhaseEncodingStepsInPlane dataset/}</td>
		</tr>
	</tbody>
</table>

<h3>Sequence description</h3>
<table class="bordered-table">
	<thead>
		<tr>
			<th>Seq #
			<th>Protocol name
			<th>Sequence
			<th>Variant
			<th>Receive coil
			<th>Repetition time
			<th>Echo time
			<th>Number of echoes
			<th>Temporal positions
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>${series.series_no}
			<td>${series.series_custom1}
			<td>#{attr dataset, tag:'ScanningSeq'/}
			<td>#{attr dataset, tag:'SeqVariant'/}
			<td>#{ReceiveCoilName dataset/}
			<td>#{RepetitionTime dataset/} ms
			<td>#{attr dataset, tag:'EchoTime', float:true/} ms
			<td>#{attr dataset, tag:'EchoNumber'/}
			<td>#{attr dataset, tag:'NumberOfTemporalPositions'/}
		</tr>
	</tbody>
</table>
