<ul class="nav nav-list" #{if util.Dicom.renderable(series)}data-pk="${series.pk}"#{/if}>

	<li class="nav-header">Subject details
	<li>Sex: ${series.study.patient.pat_sex}
	<li>Weight: ${series.study.patient.pat_attrs.get('PatientWeight')} kg
	<li>Age: ${series.study.patient.pat_birthdate?.formatAsRelativeAge(series.study.study_datetime)}
	
	<li class="nav-header">Study details
	<li>Time of scan: ${series.study.study_datetime?.time()}</td>
	<li>Study ID: ${series.study.study_id}</td>
	
	#{if util.Dicom.renderable(series)}
	<li class="nav-header">Image description
	<li>Matrix: #{attr dataset, tag:'Columns'/} / #{attr dataset, tag:'Rows'/} / #{NumberOfFrames series/}
	<li>Pixel spacing: #{PixelSpacing dataset, axis: 'X'/} / #{PixelSpacing dataset, axis: 'Y'/} / #{SliceThickness dataset/}
	<li>In plane phase encoding: #{InPlanePhaseEncodingDirection dataset/}
	<li>Phase encoding steps: #{MRAcquisitionPhaseEncodingStepsInPlane dataset/}
	
	<li class="nav-header">Sequence description
	<li>Seq #${series.series_no}
	<li>Protocol name: ${series.series_custom1}
	<li>Sequence: #{attr dataset, tag:'ScanningSeq'/}
	<li>Variant: #{attr dataset, tag:'SeqVariant'/}
	<li>Receive coil: #{ReceiveCoilName dataset/}
	<li>Repetition time: #{RepetitionTime dataset/} ms
	<li>Echo time: ${echoes.collect{it + ' ms'}.join(' / ')}
	<li>Number of echoes: ${echoes.size()}
	<li>Temporal positions: #{attr dataset, tag:'NumberOfTemporalPositions'/}
	#{/if}

</ul>