#{extends 'main.html'/}
#{set title:'Study'/}
#{set 'moreScripts'}
<script>
	$(function() {
		"use strict";
		var select = $("select[name=projectID]");
		var input = $("input[name=participationID]");
		select.on('change', function() {
			if ($("option:last", this).prop('selected')) {
				var projectName = window.prompt("Project name", "");
				var existing = $.map(select.children(), function(n, i) { return n.text; });
				if (!$.trim(projectName) || $.inArray(projectName, existing) !== -1) {
					$(this).closest('form')[0].reset();
					return;
				}
				$('input[name=projectName]').val(projectName).show();
				$(this).hide();
			}
			input.val('');
			input.prop('disabled', $("option:first", this).prop('selected') ? 'disabled' : '');
		});
		$("a.download").click(function(e) {
			var selected = $("a.selected");
			var href = this.href;
			if (selected.size()) {
				selected.each(function() {
					href += "&pk=1:" + $(this).data("pk");
				});
			} else {
				href += "&pk=0:" + $('.study').data("pk");
			}
			window.location = href;
			return false;
		});
		$("a.thumbnail").click(function(e) {
			if (e.ctrlKey || e.metaKey) {
				$(this).toggleClass("selected");
			} else {
				$("a.thumbnail").removeClass("selected");
				$(this).addClass("selected");
			}
			if ($(this).hasClass("selected")) {
				var series = #{jsAction @series(':pk')/};
				$('#series').load(series({pk: $(this).data("pk")}), function() {
					$(this).show();
				});
			}
			if ($(this).data("renderable") && $("a.thumbnail.selected").size() === 1) {
				$('a.single').addClass('enabled');
			}
			return false;
		});
		$('a.imagej').on('click', function() {
			if ($(this).hasClass('enabled')) {
				$('#imagej').html("<applet archive=@{'/public/applets/ij.jar'} code=ij.ImageJApplet.class width=0 height=0><param name=adjustBrightnessContrast value=true><param name=url1 value=@@{imagej()}?pk=" + $("a.selected").data("pk") + "&.dcm><div class='alert-message error'><p>Your browser does not support Java, please contact computing support</p></div></applet>");
			}
			return false;
		});
		$('a.weasis').on('click', function() {
			if ($(this).hasClass('enabled')) {
				window.location = this.href + $("a.selected").data("iuid");
			}
			return false;
		});
		$('a.all').on('click', function() {
			$('a.thumbnail').addClass('selected');
			return false;
		});
		$('a.none').on('click', function() {
			$('a.thumbnail').removeClass('selected');
			return false;
		});
		$('a.update').on('click', function() {
			switch ($("a.thumbnail.selected").size()) {
				case 0:
					$('#series').hide();
					$('a.single').removeClass('enabled');
					break;
				case 1:
					break;
				default:
					$('a.single').removeClass('enabled');
			}
			return false;
		});
		$('#submit').on('click', function() {
			var participationID = input.val();
			if (participationID && !participationID.match(/(3T)|(1.5T)|(NNU)/)) {
				var disallowed = ["${study.patient.pat_id.toLowerCase()}"]#{ifNotVisitor}.concat("${study.patient.pat_name?.formatAsName()}".split(/[\s,']/))#{/ifNotVisitor};
				for (var i in disallowed) {
					if (disallowed[i] && disallowed[i].length > 1 && participationID.toLowerCase().indexOf(disallowed[i].toLowerCase()) !== -1) {
						window.alert("Project identifiers cannot contain a patient's ID or name");
						return false;
					}
				}
			}
			if ((input.data("value") && (input.val() !== input.data("value"))) || (select.data("value") && (Number(select.val()) !== select.data("value")))) {
				if (!window.confirm("Changing a patient's project or identifier will affect all other users of the system. Are you sure?")) {
					$(this)[0].reset();
					return false;
				}
			}
			input.data("value", participationID);
			$('#associate').ajaxSubmit(function() {
				window.location.reload();
			});
			return false;
		});
		$('#projectModal').on('hide', function() {
			$('#associate')[0].reset();
		});
		$('#commentsModal').on('shown', function() {
			var textarea = $(this).find('textarea');
			var text = textarea.val();
			textarea.focus().val('').val(text);
		});
	});
</script>
#{/set}

<div class="span9">
	<h2>${study.patient.pat_id}#{ifNotVisitor} - ${study.patient.pat_name?.formatAsName()} - ${study.patient.pat_birthdate?.formatAsDate()}#{/ifNotVisitor}</h2>
	<h3 style="display: inline" class="study" data-pk="${study.pk}">${study.study_desc} - ${study.study_datetime?.format()}</h3>
	&nbsp;&nbsp;#{a @clipboard(controllers.Application.ClipboardOp.ADD, study.class.simpleName, study.pk), class: 'clipboard'}<i class="icon-download-alt icon-large"></i>#{/a}
	<p style="margin: 1em 0"><span style="padding-right: 1em">Project: #{if projectAssociation}<span style="color: white; font-weight: bold">${projectAssociation.project.name}</span>#{/if}#{else}None#{/else}</span><span style="padding-right: 1em">Identifier: #{if projectAssociation && projectAssociation.participationID}<span style="color: white; font-weight: bold">${projectAssociation.participationID}</span>#{/if}#{else}None#{/else}</span><a class="btn btn-info" data-toggle="modal" href="#projectModal">#{if projectAssociation && projectAssociation.participationID}Change#{/if}#{else}Add#{/else} ID code</a></p>
	<p style="margin: 1em 0"><span style="padding-right: 1em">Comments: #{if study.study_custom1}<span style="color: white; font-weight: bold">${study.study_custom1}</span>#{/if}#{else}None#{/else}</span><a class="btn btn-info" data-toggle="modal" href="#commentsModal">Update</a></p>
	#{a @download(null, 'dcm'), class: "btn btn-info download"}<i class="icon-share icon-large"></i>&nbsp;&nbsp;DICOM#{/a}&nbsp;
	#{a @download(null, 'nii'), class: "btn btn-info download"}<i class="icon-share icon-large"></i>&nbsp;&nbsp;NIfTI#{/a}&nbsp;
	#{a @download(null, 'img'), class: "btn btn-info download"}<i class="icon-share icon-large"></i>&nbsp;&nbsp;Analyze#{/a}&nbsp;
	<a href="#" class="btn btn-info single imagej"><i class="icon-zoom-in icon-large"></i>&nbsp;&nbsp;ImageJ</a>&nbsp;
	<a href="//${request.domain}:8080/weasis-pacs-connector/viewer.jnlp?seriesUID=" class="btn btn-info single weasis"><i class="icon-zoom-in icon-large"></i>&nbsp;&nbsp;Viewer</a>
	<p style="margin: 1em 0">Ctrl-click or ⌘-click to select multiple exams | <a href="#" class="all update">Select all</a> | <a class="none update" href="#">Select none</a></p>
	<div class="row-fluid">
		<ul class="thumbnails">
		#{list study.series.findAll{util.Dicom.downloadable(it)}.sort{it.series_no as int}, as: 'series'}
		<li class="span2" style="margin-right: 2.127659574%; margin-left: 0" title="${series.series_no + " " + series.series_custom1}">
			<a href="#" class="thumbnail update" data-pk="${series.pk}" data-iuid="${series.series_iuid}" data-renderable="${util.Dicom.renderable(series)}">
				<img src="@{'/public/images/spinner.gif'}" alt="@{image(series.pk)}">
				<h5 class="caption">${(series.series_no + " " + series.series_custom1).ellipsis(16)}</h5>
			</a>
		</li>
		#{/list}
		</ul>
	</div>
</div>
<div class="span3">
	<div class="well" id="clipboard">
	#{include 'Application/clipboard.html'/}
	</div>
	<div class="well sidebar-nav" id="series" style="display: none">
	</div>
</div>
<div id="imagej"></div>
<div class="modal hide" id="projectModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Assign study to project</h3>
	</div>
	#{form @associate(), id: 'associate', method: 'post', class: 'modal-body', style: 'margin: 0'}
		<span style="display: inline-block; width: 8em; text-align: right; padding-right: 1em">Project:</span>
		<select name="projectID" data-value="${projectAssociation ? projectAssociation.project.id : ''}">
			<option>None</option>
			#{list models.Project.find("order by name").fetch()}
			<option value="${_.id}"#{if _.equals(projectAssociation?.project)} selected#{/if}>${_.name}</option>
			#{/list}
			<option value="-1">New project...</option>
		</select>
		<input type="text" readonly name="projectName" style="display: none">
		<br><br>
		<span style="display: inline-block; width: 8em; text-align: right; padding-right: 1em">Identifier:</span>
		<input type="text" name="participationID" value="${projectAssociation?.participationID}" data-value="${projectAssociation?.participationID}"#{ifnot projectAssociation} disabled#{/ifnot}>
		<input type="hidden" name="study.pk" value="${study.pk}">
	#{/form}
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" id="close">Close</a>
		<a href="#" class="btn btn-primary" id="submit">Save changes</a>
	</div>
</div>
<div class="modal hide" id="commentsModal">
	#{form @studyComments(), method: 'post', class: 'modal-form', style: 'margin: 0'}
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Project comments</h3>
		</div>
		<div class="modal-body">
			<span style="display: inline-block; width: 8em; text-align: right; padding-right: 1em">Comments:</span>
			<textarea name="study.study_custom1" rows="4" class="input-xlarge">${study.study_custom1}</textarea>
			<input type="hidden" name="study.pk" value="${study.pk}">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button type="submit" class="btn btn-primary">Save changes</button>
		</div>
	#{/form}
</div>
