#{extends 'main.html'/}
#{set title:'Studies'/}

<h2>Search results (${studies.size()} matching subjects)</h2>

<table id="studies" class="bordered-table zebra-striped sortable">
	<thead>
		<tr>
			<th>pk
			<th>Name
			<th>Subject ID
			<th>Date of Birth
			<th>Study Description
			<th>Date of Study
			<th>
		</tr>
	</thead>
	<tbody>
		#{list studies}
		<tr>
			<td>#{a @patient(_.pk)}${_.patient.pk}#{/a}
			<td>#{a @patient(_.pk)}${_.patient.pat_name?.formatAsName()}#{/a}
			<td>${_.patient.pat_id}
			<td>${_.patient.pat_birthdate?.formatAsDate()}
			<td>${_.study_desc}
			<td>${_.study_datetime.format()}
			<td>#{a @clipboard(_.class.simpleName, _.pk), class: 'clipboard'}<img src="@{'/public/images/attach.png'}">#{/a}
		</tr>
		#{/list}
	</tbody>
</table>
