#{extends 'main.html' /}
#{set title:'Study' /}

<table class="bordered-table zebra-striped">
	<thead>
	  <tr>
	    <th>Number</th>
	    <th>Description</th>
	    <th>Date</th>
	  </tr>
	</thead>
	<tbody>
	#{list seriess}
	<tr>
	    <td>#{a @series(_.getString(org.dcm4che2.data.Tag.SeriesNumber))}${_.getString(org.dcm4che2.data.Tag.SeriesNumber)}#{/a}
	    <td>${_.getString(org.dcm4che2.data.Tag.SeriesDescription)}
	    <td>${_.getString(org.dcm4che2.data.Tag.SeriesDate)}
	</tr>
	#{/list}
	</tbody>
</table>
