<!DOCTYPE html>
<html>
  <head>
    <title>#{get 'title'}${play.configuration.getProperty("application.name")}#{/get}</title>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    #{stylesheet 'flick/jquery-ui-1.8.17.custom.css'/}
    #{stylesheet 'bootstrap.min.css'/}
    #{stylesheet 'main.css'/}
    #{get 'moreStyles'/}
  </head>
  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="@{Application.index}">${play.configuration.getProperty("application.name")}</a>
          <ul class="nav">
            <li#{if request.action == "Application.index"} class="active"#{/if}>#{a @Application.index()}Search#{/a}
            <li#{if request.action == "Application.help"} class="active"#{/if}>#{a @Application.help()}Help#{/a}
            #{secure.check 'admin'}
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Admin</a>
              <ul class="dropdown-menu">
                <li#{if request.action == "Application.admin"} class="active"#{/if}>#{a @admin()}Recent imports#{/a}</li>
                <li>#{a @crud.Persons.list()}Users#{/a}</li>
                <li>#{a @crud.Logs.list(order: 'DESC')}Audit log#{/a}</li>
              </ul>
            </li>
            #{/secure.check}
          </ul>
          <p class="pull-right">Logged in as ${session.username} <a href='@{Secure.logout()}'>Log out</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well" id="clipboard">
          #{include 'Application/clipboard.html'/}
        </div>
      </div>
      <div class="content">
        #{doLayout/}
      </div>
    </div>

    #{script 'jquery-1.7.1.min.js'/}
    #{script 'jquery-ui-1.8.17.custom.min.js'/}
    *{#{script 'jquery.ui.datepicker-en-GB.js'/}}*
    #{script 'jquery.tablesorter.min.js'/}
    #{script 'bootstrap-dropdown.js'/}
    <script>
        $(function() {
            $("table.sortable").tablesorter();
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $(".container-fluid").on("click", "a.clipboard", function(event) {
                $('#clipboard').load(this.href);
                return false;
            });
            $("#clipboard").on("click", "a.export", function(event) {
                this.href += "?" + $.param({password: prompt("Encryption password")});
            });
            $(".thumbnail").each(function() {
                this.src = this.alt;
            });
        });
        function params(url) {
            var e,
                p = {},
                r = /[?&](\w+)=?(\w*)/g;
            while (e = r.exec(url))
                p[e[1]] = e[2];
            return p;
        }
    </script>
    #{get 'moreScripts'/}
  </body>
</html>
