<!DOCTYPE html>
<html>
  <head>
    <title>#{get 'title'}${play.configuration.getProperty("application.name")}#{/get}</title>
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    #{stylesheet 'flick/jquery-ui-1.8.17.custom.css'/}
    #{stylesheet 'bootstrap.min.css'/}
    #{stylesheet 'main.css'/}
    #{get 'moreStyles'/}
  </head>
  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="@{Application.index}">${play.configuration.getProperty("application.name")}</a>
          <ul class="nav">
            <li#{if request.action == "Application.index"} class="active"#{/if}>#{a @Application.index()}Search#{/a}
            <li#{if request.action == "Application.help"} class="active"#{/if}>#{a @Application.help()}Help#{/a}
          </ul>
          <p class="pull-right">Logged in as ${session.username} <a href='@{Secure.logout()}'>Log out</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          #{include 'Application/clipboard.html'/}
        </div>
      </div>
      <div class="content">
        #{doLayout/}
      </div>
    </div>

    #{script 'jquery-1.7.1.min.js'/}
    #{script 'jquery-ui-1.8.17.custom.min.js'/}
    *{#{script 'jquery.ui.datepicker-en-GB.js'/}}*
    #{script 'jquery.tablesorter.min.js'/}
    <script>
        $(function() {
            $("table.sortable").tablesorter();
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
    #{get 'moreScripts'/}
  </body>
</html>
