<!DOCTYPE html>
<html>
  <head>
    <title>#{get 'title'}${play.configuration.getProperty("application.name")}#{/get}</title>
    #{stylesheet 'vader/jquery-ui-1.8.20.custom.css'/}
    #{stylesheet 'bootstrap.min.css'/}
    *{#{stylesheet 'bootstrap-responsive.min.css'/}}*
    *{#{stylesheet 'font-awesome.css'/}}*
    #{stylesheet 'main.css'/}
    #{get 'moreStyles'/}
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="@{Application.index}"><img src="@{'/public/images/title.png'}"></a>
          <ul class="nav">
            <li#{if request.action == "Application.index"} class="active"#{/if}>#{a @Application.index()}Search#{/a}
            <li#{if request.action == "Application.help"} class="active"#{/if}>#{a @Application.help()}Help#{/a}
            #{secure.check 'admin'}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li#{if request.action == "Application.admin"} class="active"#{/if}>#{a @admin()}Recent imports#{/a}</li>
                <li>#{a @crud.Persons.list()}Users#{/a}</li>
                <li>#{a @crud.Projects.list()}Projects#{/a}</li>
                <li>#{a @crud.Logs.list(order: 'DESC')}Audit log#{/a}</li>
              </ul>
            </li>
            #{/secure.check}
          </ul>
          <p class="navbar-text pull-right">Logged in as ${session.username} <a href='@{Secure.logout()}'>Log out</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          #{doLayout/}
        </div>
        <div class="span3">
          <div class="well" id="clipboard">
          #{include 'Application/clipboard.html'/}
          </div>
        </div>
      </div>
    </div>

    #{script 'jquery.min.js'/}
    #{script 'jquery-ui-1.8.20.custom.min.js'/}
    #{script 'bootstrap.min.js'/}
    #{script 'jquery.form.js'/}
    <script>
        $(function() {
            "use strict";
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $(".container-fluid").on("click", "a.clipboard", function(event) {
                $('#clipboard').load(this.href);
                return false;
            });
            $("#clipboard").on("click", "a.export", function(event) {
                var password = window.prompt("Encryption password", "");
                if (password) {
                    this.href += "?" + $.param({password: password});
                    $('#clipboard').load(this.href);
                }
                return false;
            });
            setInterval(function() {
                $('#clipboard').load('@{clipboard()}');
            }, 10000);
            $(".thumbnail img").each(function() {
                var img = this;
                $("<img />").attr('src', this.alt).load(function() {
                    $(img).before(this).remove();
                });
            });
        });
    </script>
    #{get 'moreScripts'/}
  </body>
</html>
